# URLs for the App running in Debug Mode
DEV_ANDROID_API_URL=http://10.0.2.2:8000
DEV_IOS_API_URL=http://localhost:8000

# URL for the App running in Release Mode
PROD_API_URL="API Production URL here"