# API URLs for the App running in Debug Mode
API_URL_DEV_ANDROID=http://10.0.2.2:8000
API_URL_DEV_IOS=http://localhost:8000

# API URL for the App running in Release Mode
API_URL_PROD="API Production URL here"

# Sentry DSN
SENTRY_DSN="https://your-sentry-dsn-here"